<p id="notice"><%= notice %></p>

<h1>Listing Insights</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted at</th>
      <th>Posted by</th>
      <th>Article text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insights.each do |insight| %>
      <tr>
        <td><%= insight.title %></td>
        <td><%= insight.posted_at %></td>
        <td><%= insight.posted_by %></td>
        <td><%= insight.article_text %></td>
        <td><%= link_to 'Show', insight %></td>
        <td><%= link_to 'Edit', edit_insight_path(insight) %></td>
        <td><%= link_to 'Destroy', insight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insight', new_insight_path %>
